# Python Progrmming

In [1]:
print("Hello World")

Hello World

``variable``

In [3]:
cust_name=21

In [7]:
price=3

In [9]:
print(type(price))

<class 'int'>

In [1]:
x=10
print(x)

10

In [3]:
type(x)

int

In [7]:
a=90
b=90
print(id(a))
print(id(b))
a=0
id(a)

140712217931336
140712217931336

140712217928456

In [8]:
price=input("enter the price")
print(price)

21

In [9]:
n=int(5.78)
n

5

In [1]:
5-90

-85

In [2]:
100/2

50.0

In [3]:
100//2

50

In [4]:
34/0

ZeroDivisionError: division by zero

In [5]:
12.0*4

48.0

In [6]:
12*3

36

In [7]:
10.0-2

8.0

In [9]:
5**3

125

In [10]:
2**3

8

In [11]:
49**(0.5)

7.0

In [12]:
20%3

2

In [13]:
20/3

6.666666666666667

In [14]:
20%4

0

In [16]:
a=[9,8,7,6]
b=0
for i in a:
    if (i<9):
        b=i
print(b)

6

In [17]:
print('Hi i\'m neel')

Hi i'm neel

In [18]:
name=input("enter the name")
print(name)

Neelakandan

In [20]:
name[1]

'e'

In [21]:
name[0]

'N'

In [24]:
'8'=='8'

True

In [25]:
type(8)

int

In [27]:
"hello "*5

'hello hello hello hello hello '

In [28]:
type(True)

bool

In [29]:
type(5+8j)

complex

In [4]:
a=200
print(a)

200

In [5]:
name="john"
price=90.9
print(type(price))

<class 'float'>

In [8]:
radius=56
__apple=90
print(__apple)

90

In [10]:
print=90
print(print)

TypeError: 'int' object is not callable